
.loader{
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:100px;
    height: 100px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #ffffff00;
    transition: opacity 0.75s, visibility 0.75s;
}


.loader-hidden{
    opacity: 0;
    visibility: visible;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #00aeef;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform:rotate(1turn);
    }
}