{% extends 'index.html' %}

{% block content %}
{% include 'alert.html' %}

<style>
    label{
    font-weight:bold;
}
.bold{
font-weight:bold;
}



</style>

<form action="{{request.path}}" method="post" enctype="multipart/form-data" style="overflow:hidden">



    <div class="w-75 mx-auto row form-group" style="margin-top:2rem;background-color: #eff4ff; border-radius: 20px;">

        <div class="row mb-1">
            <div class="col text-start">
                <button style="padding:0.3rem 2.2rem" type="button" class="btn btn-success btn-sm edit_button mt-2"
                        onclick="editClient()"
                        id="edit_button">
                    Edit
                </button>
            </div>
        </div>
        <div class="row w-100">
            <div class="col d-flex justify-content-start mb-2 mt-2">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <input type="submit" value="Update"
                               class="update_btn btn btn-success btn-sm" style="padding:0.3rem 1.5rem"
                               onclick="location.href='{{url_for('admin_details',admin_id = admin_to_update.id)}}'"
                               id="update_button" hidden/>

                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-danger btn-sm" style="padding:0.3rem 1.5rem"
                                onclick="location.href='{{url_for('admin_details',admin_id = admin_to_update.id)}}'"
                                id="discard_button" hidden>
                            Discard
                        </button>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-info btn-sm text-white" id="change_password"
                                style="padding:0.3rem 1.5rem"
                                onclick="location.href='{{url_for('change_admin_pass', admin_id = admin_to_update.id)}}'"
                                hidden>
                            Change
                            Password
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col text-start mt-2 mb-3" id="back_button" style="display:block">
                <button type="button" class="btn btn-info btn-sm btn-bg" style="padding:0.3rem 1.5rem"
                        onclick="history.back()">
                    &#8592 Back
                </button>
            </div>
        </div>

        <div id="hide_table">
            <table class="table">

                <tbody>
                <tr>
                    <td class="bold">Username:</td>
                    <td>{{admin_to_update.username}}</td>
                </tr>
                <tr>
                    <td class="bold">First Name:</td>
                    <td>{{admin_to_update.first_name}}</td>
                </tr>
                <tr>
                    <td class="bold">Last Name:</td>
                    <td>{{admin_to_update.last_name}}</td>
                </tr>
                <tr>
                    <td class="bold">Email:</td>
                    <td>{{admin_to_update.email}}</td>
                </tr>
                <tr>
                    <td class="bold">Phone No.:</td>
                    <td>{{admin_to_update.phone_no}}</td>
                </tr>

                </tbody>

            </table>
        </div>

        <div class="col mt-2 mb-2">
            <div class="row">
                <div class="row">
                    <div class="col display-11 mb-2 form_editable"
                         id="username" hidden>
                        <label class="mb-2">Username</label>
                        <input class="form-control" type="text" name="username"
                               value="{{admin_to_update.username}}">
                    </div>
                </div>

                <div class="row display-11">

                    <div class="col form_editable mb-2" hidden>
                        <label class="mb-2">First Name</label>
                        <input class="form-control" type="text" name="first_name"
                               value="{{admin_to_update.first_name}}">
                    </div>
                </div>
                <div class="row display-11">

                    <div class="col form_editable mb-2" hidden>
                        <label class="mb-2">Last Name</label>
                        <input class="form-control" type="text" name="last_name"
                               value="{{admin_to_update.last_name}}">
                    </div>

                </div>
                <div class="row display-11">

                    <div class="col form_editable mb-2" hidden>
                        <label class="mb-2">Email</label>
                        <input class="form-control" type="text" name="email"
                               value="{{admin_to_update.email}}">
                    </div>

                </div>
                <div class="row display-11">

                    <div class="col form_editable mb-2" hidden>
                        <label class="mb-2">Phone No.</label>
                        <input class="form-control" type="text" name="phone_no"
                               value="{{admin_to_update.phone_no}}">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <input type="text" name="old_total_amount" value="{{old_total_amount}}" hidden>
</form>
<script src="{{url_for('static', filename='js/admin_edit.js')}}"></script>
{% include 'footer.html' %}
{% endblock %}