{%- for category, message in get_flashed_messages(with_categories = true) %}


{%if category== 'success'%}
<div class="alert alert-success alert-dismissible fade show w-100" role="alert" id="alert-success">
    {{message}}
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">

    </button>
</div>
{%else%}
<div class="alert alert-danger alert-dismissible fade show w-100" role="alert" id="alert-error">
    {{message}}
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">

    </button>
</div>
{%endif%}


{%- endfor %}

<script>
    if (!(document.getElementById('alert-success'))){
    //pass
}
    else {
    document.getElementById('alert-success')
    setTimeout(() => {
    document.getElementById('alert-success').style.display = 'none';
    }, 5000);
    }


    if(!(document.getElementById('alert-error'))){
    //pass
    }
    else{
    alert_error=document.getElementById('alert-error');
    setTimeout(() => {

        alert_error.style.display = 'none';
    }, 5000);
    }


</script>
