{% extends 'index.html' %}

{% block content %}
{% include 'alert.html' %}


<style>
    label{
    font-weight:bold;
}
.bold{
font-weight:bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




</style>


<form action="{{request.path}}" method="post" enctype="multipart/form-data" style="overflow:hidden">
    <!--    <div class="w-100" id="action_buttons" style="display:block; position:fixed;">-->


    <!--        -->

    <!--    </div>-->

    <div class="w-75 mx-auto row form-group" style="margin-top:2rem; background-color: #eff4ff; border-radius: 20px;">

        <div class="row mb-1">
            <div class="col text-start">
                <button style="padding:0.3rem 2.2rem" type="button" class="btn btn-success btn-sm edit_button mt-2"
                        onclick="editClient()"
                        id="edit_button">
                    Edit
                </button>
            </div>
        </div>

        <div class="row w-100">
            <div class="col d-flex justify-content-start mb-3 mt-2">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <input type="submit" value="Update"
                               class="update_btn btn btn-success btn-sm" style="padding:0.3rem 1.5rem"
                               onclick="location.href='{{url_for('update_client',client_id = client_to_update.id)}}'"
                               id="update_button" hidden/>

                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-danger btn-sm" style="padding:0.3rem 1.5rem"
                                onclick="location.href='{{url_for('update_client',client_id = client_to_update.id)}}'"
                                id="discard_button" hidden>
                            Discard
                        </button>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col text-start  mt-2 mb-3" id="back_button" style="display:block">
            <button type="button" class="btn btn-info btn-sm" style="padding:0.3rem 1.5rem"
                    onclick="history.back()">
                &#8592 Back
            </button>
        </div>
        </div>
        <div id="hide_table">
            <table class="table">

                <tbody>
                <tr>
                    <td class="bold">Name:</td>
                    <td>{{client_to_update.client_name}}</td>
                </tr>
                <tr>
                    <td class="bold">Email:</td>
                    <td>{{client_to_update.email}}</td>
                </tr>
                <tr>
                    <td class="bold">Phone:</td>
                    <td>{{client_to_update.phone_no}}</td>
                </tr>
                <tr>
                    <td class="bold">Address:</td>
                    <td>{{client_to_update.address}}</td>
                </tr>
                <tr>
                    <td class="bold">Overall Received Total:</td>
                    <td>&#8377 {{client_to_update.overall_received}}</td>
                </tr>
                <tr>
                    <td class="bold">Overall Payable Total:</td>
                    <td>&#8377 {{client_to_update.overall_payable}}</td>
                </tr>
                <tr>
                    <td class="bold">Total Credit:</td>
                    <td>&#8377 {{client_to_update.credit_amount}}</td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="col">
            <div class="row">
                <div class="row">
                    <div class="col display-11 mb-2 form_editable client_name"
                         id="client_name" hidden>
                        <label>Client Name</label>
                        <input class="form-control" type="text" name="client_name"
                               value="{{client_to_update.client_name}}">
                    </div>
                </div>

                <div class="row display-11">

                    <div class="col form_editable mb-2" hidden>
                        <label>Email</label>
                        <input class="form-control" type="text" name="email"
                               value="{{client_to_update.email}}">
                    </div>
                </div>
                <div class="row display-11">

                    <div class="col form_editable mb-2" hidden>
                        <label>Phone</label>
                        <input class="form-control" type="number" name="phone_no"
                               value="{{client_to_update.phone_no}}">
                    </div>

                </div>
                <div class="row display-11 mb-3">

                    <div class="col form_editable mb-5" hidden>
                        <label>Address</label>
                        <input class="form-control" type="text" name="address"
                               value="{{client_to_update.address}}">
                    </div>

                </div>


            </div>
        </div>

    </div>
    <input type="text" name="old_total_amount" value="{{old_total_amount}}" hidden>
</form>
<script src="{{url_for('static', filename='js/edit_client.js')}}"></script>
{% include 'footer.html' %}
{% endblock %}