{% extends 'index.html' %}

{% block content %}
{% include 'alert.html' %}

<style>

label{
font-weight:bold;
}











</style>
<form action="{{request.path}}" method="post" enctype="multipart/form-data">
<div class="row w-75 mx-auto" style="margin-top:40px;background-color:#eff4ff; border-radius:20px">

    <div class="col">
        {{ form.csrf_token}}
        <div class="row mb-3 mt-3">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Client Name<span style="color:red">*</span></label>
                            {{form.client_name(class="form-select form-select-lg mb-3")}}

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-outline">
                            <label class="form-label">Credit</label>
                            <input type="text" class="form-control form-control-lg" name="credit" id="credit"
                                   readonly>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">RO Date<span style="color:red">*</span></label>
                    <input type="date" class="form-control" name="date_of_order"
                           value="{{date_today}}"
                           placeholder="RO Date" required readonly/>

                </div>
            </div>

        </div>

        <div class="row mb-3">
            <div class="col">

                <label class="form-label">Bill No.<span style="color:red">*</span></label>
                <input type="number" class="form-control" name="bill" value="{{bill_no}}"
                       placeholder="Bill No." required readonly>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="row mb-3">

                    <div class="col">
                        <label class="form-label">Bill Copy</label>
                        <input type="file" accept="application/pdf" class="form-control" name="file">
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="row mt-3">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">AD/GP/Others.<span style="color:red">*</span></label>
                    <textarea id="form3Example2" class="form-control" rows="3"
                              name="content_advt" required>{{request.form['content_advt']}}</textarea>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">DoP<span style="color:red">*</span></label>
                    <input type="date" class="form-control" name="dop"
                           value="{{date_today}}"
                           placeholder="DoP" required readonly/>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">

                <label class="form-label">Bill Date<span style="color:red">*</span></label>
                <input type="date" class="form-control" name="bill_date" value="{{date_today}}"
                       placeholder="Bill Date" required readonly>
            </div>
        </div>

        <div class="row">
            <div class="col mt-3" style="border-radius:20px; background-color:#daf2ff">

                <div class="row mt-3 mb-1">
                    {% if request.form['amount_by_user']%}
                    <div class="col mt-1">
                        <label class="form-label">Amount (Rs.)<span style="color:red">*</span></label>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" id="amount_by_user" name="amount_by_user"
                               value="{{request.form['amount_by_user']}}"
                               placeholder="Amount" required>
                    </div>
                    {% else %}
                    <div class="col mt-1">
                        <label class="form-label">Amount (Rs.)<span style="color:red">*</span></label>
                    </div>
                    <div class="col">


                        <input type="number" class="form-control" id="amount_by_user" name="amount_by_user"
                               value="0"
                               placeholder="Amount" required>
                    </div>
                    {% endif %}
                </div>
                <div class="row mb-1">
                    <div class="col mt-1">
                        <label class="form-label">GST(%)<span style="color:red">*</span></label>
                    </div>
                    <div class="col">

                        {{form.gst(class="form-select form-select")}}
                    </div>
                </div>


                <div class="row">
                    <div class="col mt-1">
                        <label class="form-label">GST Amount (Rs.)</label>
                    </div>
                    <div class="col">

                        <input type="text" class="form-control" id="gst_amount"
                               name="gst_amount" value="0"
                               placeholder="GST Amount" readonly>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    {% if request.form['total_amount_including_gst'] %}
                    <div class="col mt-1">
                        <label class="form-label">Total Amount</label>
                    </div>
                    <div class="col">

                        <input type="text" class="form-control" id="total_amount_including_gst"
                               name="total_amount_including_gst"
                               value="{{request.form['total_amount_including_gst']}}"
                               placeholder="Total Including GST" readonly>
                    </div>
                    {% else %}
                    <div class="col mt-1">
                        <label class="form-label">Total Amount</label>
                    </div>
                    <div class="col">

                        <input type="text" class="form-control" id="total_amount_including_gst"
                               name="total_amount_including_gst" value="0"
                               placeholder="Total Including GST" readonly>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
                <div class="col mt-3 mb-3 text-center">
                    <button type="submit" class="btn btn w-25 btn-bg" id="btn-bg" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Create
                    </button>
                </div>
            </div>
</div>
</form>
<br>
<br>
<br>

<script src="{{url_for('static', filename='js/add_record.js')}}"></script>

{% include 'footer.html' %}
{% endblock %}