<style>
  i:hover{
    color:cyan;
  }


</style>
<div class="w-100" style="bottom:0px;position:fixed">
    <section class="d-flex justify-content-center p-2"
            style="background-color: rgb(33,37,41)">


        <div>
            <a href="https://twitter.com/cityairnews" class="text-white me-4" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/cityairnews/" class="text-white me-4" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/cityairnews/" class="text-white me-4" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://in.linkedin.com/in/cityairnews?original_referer=https%3A%2F%2Fwww.google.com%2F"
               class="text-white me-4" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>

        </div>

    </section>


</div>
