<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">

    <style>
        label{
            font-weight:bold;
        }

    </style>

</head>
<body>
{% include 'alert.html' %}
<form method="POST" action="{{url_for('send_mail')}}">
    <div class="row w-25 mx-auto shadow-lg p-4 mb-5 bg-white rounded" style="margin-top:10rem">
        <div class="row mx-auto">
            <div class="col">
                <h3>Forgot Password</h3>
                <hr>
            </div>

        </div>

        <div class="row w-100 mx-auto mt-3">

            <div class="col">
                <label>Enter Email/Username</label>
                <input type="text" name="email_username" class="form-control" required>
            </div>
        </div>
        <div class="row w-100 mx-auto mt-3">
            <div class="col">
                <button type="submit" class="btn btn-info btn-bg w-100">Send OTP</button>
            </div>
        </div>

        <div class="row w-100 mt-3">
            <div class="col text-center">
                <a href="{{url_for('login')}}" style="text-decoration:none">Back to Login</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>