<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">



    <style>
        label{
            font-weight:bold;
        }

        #bg{
              background-image : url({{url_for('static', filename= 'images/forgot_pass.jpg')}});
              background-size: 100%;
        }
    </style>

</head>
<body id="bg">
{% include 'alert.html' %}

<form method="POST" action="{{url_for('send_mail')}}" name="myForm">
    <div class="row w-25 mx-auto shadow-lg p-4 mb-5 bg-white rounded" style="margin-top:10rem">
        <div class="row mx-auto">
            <div class="col">
                <h3>Forgot Password</h3>
                <hr>
            </div>

        </div>

        <div class="row w-100 mx-auto mt-3">

            <div class="col">
                <label>Enter Email/Username<span style="color:red">*</span></label>
                <input type="text" id="email_username" name="email_username" class="form-control" required>
            </div>
        </div>
        <div class="row w-100 mx-auto mt-3">
            <div class="col">
                <button type="submit" class="btn btn-info btn-bg w-100" onclick="show_loader()">Send OTP
                    <svg id="loader" width="50" height="30" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#fff" visibility="hidden">
                        <circle cx="15" cy="15" r="15">
                            <animate attributeName="r" from="15" to="15"
                                     begin="0s" dur="0.8s"
                                     values="15;9;15" calcMode="linear"
                                     repeatCount="indefinite"/>
                            <animate attributeName="fill-opacity" from="1" to="1"
                                     begin="0s" dur="0.8s"
                                     values="1;.5;1" calcMode="linear"
                                     repeatCount="indefinite"/>
                        </circle>
                        <circle cx="60" cy="15" r="9" fill-opacity="0.3">
                            <animate attributeName="r" from="9" to="9"
                                     begin="0s" dur="0.8s"
                                     values="9;15;9" calcMode="linear"
                                     repeatCount="indefinite"/>
                            <animate attributeName="fill-opacity" from="0.5" to="0.5"
                                     begin="0s" dur="0.8s"
                                     values=".5;1;.5" calcMode="linear"
                                     repeatCount="indefinite"/>
                        </circle>
                        <circle cx="105" cy="15" r="15">
                            <animate attributeName="r" from="15" to="15"
                                     begin="0s" dur="0.8s"
                                     values="15;9;15" calcMode="linear"
                                     repeatCount="indefinite"/>
                            <animate attributeName="fill-opacity" from="1" to="1"
                                     begin="0s" dur="0.8s"
                                     values="1;.5;1" calcMode="linear"
                                     repeatCount="indefinite"/>
                        </circle>
                    </svg>
                </button>
            </div>
        </div>

        <div class="row w-100 mt-3">
            <div class="col text-center">
                <a href="{{url_for('login')}}" style="text-decoration:none">Back to Login</a>
            </div>
        </div>
    </div>
</form>

</body>


<script>
   function show_loader(){
   var x = document.forms["myForm"]["email_username"].value;
  if (x == "" || x == null) {
    return false;
  }
    document.getElementById("loader").style.visibility = "visible";

}


 window.onload = function zoomout() {
       document.getElementById('bg').style.backgroundSize = "cover";
       document.getElementById('bg').style.backgroundPosition = "center center";
       document.getElementById('bg').style.backgroundRepeat = "no repeat";
      document.getElementById("bg").style.transition = "all 2s";
      document.getElementById("bg").style.backgroundAttachment = "fixed";
      }

</script>

</html>