<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Recovery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">
</head>
<body>
{% include 'alert.html' %}
<form method="POST" action="{{url_for('reset_pass')}}">
    <div class="row w-25 mx-auto form-group shadow-lg p-3 mb-5 bg-white rounded" style="margin-top:10rem">
        <div class="row mt-3">
            <div class="col text-center">
                <h4>Reset Password</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label>New Password <span style="color:red">*</span></label>
                <input type="password" name="new_password" class="form-control" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label>Confirm Password <span style="color:red">*</span></label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col">

                <button type="submit" class="btn btn-info btn-bg w-100">Change Password</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col text-center">
                <a href="{{url_for('login')}}" style="text-decoration:none">Back to Login</a>
            </div>
        </div>
    </div>
    <input type="text" value="{{user}}" name="user" hidden>
</form>
</body>
</html>