<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify OTP</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">



    <style>
        label{
            font-weight:bold;
        }
    </style>

</head>
<body id="bg">
{% include 'alert.html' %}

<div class="row w-25 mx-auto shadow-lg p-4 mb-5 bg-white rounded" style="margin-top:9rem">

    <div class="row">
        <form method="POST" action="{{url_for('verify_otp')}}">
            <div class="row">
                <div class="col">
                    <h6>A OTP (One Time Password) has been sent to '{{user}}'. Please enter the OTP to verify your
                        E-Mail.</h6>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="{{url_for('login')}}" style="text-decoration:none">Back to Login</a>
                </div>
            </div>
            <hr>
            <div class="row mt-2">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label>Enter OTP<span style="color:red">*</span></label>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <p style="color:red; visibility:visible" id="valid_for">Valid for <span id="otp_timer"></span></p>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <p style="color:red; visibility:hidden" id="otp_expired">OTP Expired*</p>
                        </div>

                    </div>
                    <div class="row">
                            <div class="col">
                                <input type="text" name="verify_otp" class="form-control" required>
                            </div>
                        </div>

                </div>

            </div>
            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-info btn-bg w-100">Verify

                    </button>
                </div>
            </div>
            <input type="text" value="{{user}}" name="user" hidden>
        </form>
    </div>
    <div class="row mt-2">
        <form method="POST" action="{{url_for('generate_new_otp')}}">

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-info btn-bg w-100" id="generate_new_otp"
                            onclick="show_loader()" disabled>Generate New
                        OTP <span id="timer"></span>

                        <svg id="loader" width="50" height="30" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg"
                             fill="#fff" visibility="hidden">
                            <circle cx="15" cy="15" r="15">
                                <animate attributeName="r" from="15" to="15"
                                         begin="0s" dur="0.8s"
                                         values="15;9;15" calcMode="linear"
                                         repeatCount="indefinite"/>
                                <animate attributeName="fill-opacity" from="1" to="1"
                                         begin="0s" dur="0.8s"
                                         values="1;.5;1" calcMode="linear"
                                         repeatCount="indefinite"/>
                            </circle>
                            <circle cx="60" cy="15" r="9" fill-opacity="0.3">
                                <animate attributeName="r" from="9" to="9"
                                         begin="0s" dur="0.8s"
                                         values="9;15;9" calcMode="linear"
                                         repeatCount="indefinite"/>
                                <animate attributeName="fill-opacity" from="0.5" to="0.5"
                                         begin="0s" dur="0.8s"
                                         values=".5;1;.5" calcMode="linear"
                                         repeatCount="indefinite"/>
                            </circle>
                            <circle cx="105" cy="15" r="15">
                                <animate attributeName="r" from="15" to="15"
                                         begin="0s" dur="0.8s"
                                         values="15;9;15" calcMode="linear"
                                         repeatCount="indefinite"/>
                                <animate attributeName="fill-opacity" from="1" to="1"
                                         begin="0s" dur="0.8s"
                                         values="1;.5;1" calcMode="linear"
                                         repeatCount="indefinite"/>
                            </circle>
                        </svg>

                    </button>
                </div>
            </div>

            <input type="text" value="{{user}}" name="user" hidden>
        </form>
    </div>

</div>

</body>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>

let timerOn = true;

function timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;

  m = m < 10 ? '0' + m : m;
  s = s < 10 ? '0' + s : s;
  document.getElementById('timer').innerHTML = m + ':' + s;

  remaining -= 1;

  if(remaining >= 0 && timerOn) {
    setTimeout(function() {
        timer(remaining);
    }, 1000);
    return;
  }

  if(!timerOn) {
    // Do validate stuff here
    return;
  }

  // Do timeout stuff here
  $('#generate_new_otp').prop('disabled', false);
  $('#timer').css('display', 'none');
}

timer(30);




let otp_timerOn = true

function otp_timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;

  m = m < 10 ? '0' + m : m;
  s = s < 10 ? '0' + s : s;
  document.getElementById('otp_timer').innerHTML = m + ':' + s;
  remaining -= 1;

  if(remaining >= 0 && otp_timerOn) {
    setTimeout(function() {
        otp_timer(remaining);
    }, 1000);
    return;
  }

  if(!otp_timerOn) {
    // Do validate stuff here
    return;
  }

  // Do timeout stuff here
  $('#otp_timer').css('display', 'none');
  $('#valid_for').css('visibility', 'hidden');
  $('#otp_expired').css('visibility', 'visible');
}

otp_timer(300);



function show_loader(){
        document.getElementById("loader").style.visibility = "visible";

}




</script>


</html>